<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart |feelGood.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!--    navigation stylesheet-->
    <link rel="stylesheet" href="/assets/designs.css">
    <!--    shop stylesheet-->
    <link rel="stylesheet" href="/assets/cart.css">
    
</head>

<body>
    <!--    navigation-->
     <%include partials/navigation.ejs %>
    
    <div class="container content">
        <div class="col-xs-12 col-sm-4 itemlist">
            <h1>Items in Cart</h1>
            
             <div class="list-group">
              <a href="#" class="list-group-item">First item<span class="badge">Rs 200</span></a>
              <a href="#" class="list-group-item">Second item<span class="badge">Rs 100</span></a>
              <a href="#" class="list-group-item">Third item<span class="badge">Rs 100</span></a>
                
            </div> 
            
            <h4>Total<span id="totalamt" class="pull-right">Rs 400</span></h4>
            
            <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-play"></span> Proceed to Checkout</button>
        </div>
        
        <div class="col-xs-12 col-sm-8">
            <h1>Shipping Address</h1>
            <div class="form-group">
                <label for="shipaddr">Enter Your Shipping Address</label>
                <textarea class="form-control" rows="3" id="shipaddr" required></textarea>
                <label for="pincode">Pincode</label>
                <input class="form-control" id="pincode" required></input>
            </div>
        </div>
    
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/cart.js"></script>
</body>
</html>
