<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feelGood. | Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<!--    navigation stylesheet-->
    <link rel="stylesheet" href="/assets/designs.css">
<!--    shop stylesheet-->
    <link rel="stylesheet" href="/assets/shop.css">
</head>

<body>
<!--    navigation-->
     <%include partials/navigation.ejs %>
         
    <div id="columns"class="container">
        <button id="toggle-menu" class="visible-xs btn btn-primary" type="button" data-toggle="collapse" data-target="#categories">Toggle Menu</button>
        <div class="hidden-xs col-sm-3 collapse in " id="categories">
            <div  class="container-fluid">
                 <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#">All</a></li>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Sport Wear</a></li>
                    <li><a href="#">Formal</a></li>
                    <li><a href="#">Ethnic Wear</a></li>
                    <li><a href="#">Rainwear</a></li>
                    <li><a href="#">Sleep and Lounge Wear</a></li>
                    <li><a href="#">Winter</a></li>
                    <li><a href="#">Summer</a></li>
                    <li><a href="#">Accessories</a></li>   
                  </ul>
                
            <div id="sort" class="container-fluid">
               <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Sort By:<span id="selectedItemDropdown">New</span>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" href="#">New</a></li>
                    <li role="presentation"><a role="menuitem" href="#">Price-Low to High</a></li>
                    <li role="presentation"><a role="menuitem" href="#">Price-High to Low</a></li>
                  </ul>
                </div>        
            </div>
                
            </div>
        </div>
        <div class="col-xs-12-col-sm-9" id="right">
            
            <div  class="container-fluid">
                <div class="row" id  = "itemContainer">
                    <!-- render item list here -->
                    <!-- example item -->
                    <!-- 
                    <div class="col-xs-12 col-sm-3 item"><a href="#">
                        <figure class="figure">
                            <img class="img-thumbnail img-responsive mx-auto" src="/assets/home_background.jpg">
                            <figcaption class="figure-caption">A caption for the above image.</figcaption>
                        </figure></a>
                    </div> 
                    -->
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/shop.js"></script>
    
</body>
</html>
