.content{
    background-color: #e1e5ed;
    height: 100%;
    min-height: 100%;
    margin-top:60px;
    padding-bottom: 30px;
}

#shipaddr,#pincode{
opacity: 0.7;
   
}

.form-group label{
    margin-top: 20px;
}

.itemlist{
    overflow-y: auto;
    overflow-x: hidden;
}
#proceedToCheckout{
	margin-top: 40px;
}

.list-group li:hover{
	background-color:#f2f2f2;

}
.remove{
	font-size: 0.7em;

}
.remove:hover{
	text-decoration: underline;
}