.navbar-collapse span {
    display: inline-block;
    margin-right: 5px;
}
.navbar-collapse button a, .navbar-collapse button a:hover, .navbar-collapse button a:focus{
    color:white;
    text-decoration: none;
}
.navbar .container a{
    color:white;
}
body{
    background-color:#3d93af;
}
