#categories,#right{
    overflow-y: auto;
    overflow-x: hidden;
    background-color:#e1e5ed;
    padding-top:20px;
    margin-top:60px;
    height: 100%;
}
#categories div, #right div{
    padding:10px;
}
#categories{
    padding: 20px;
    padding-top: 25px;
}
#columns{
    height: 100%;
    min-height: 100%;
/*    overflow: hidden;*/  
}
.container{
    padding: 0px;
}
#sort{
    margin-top: 10px;
}
body, html{
    height: 100%;
/*    overflow: hidden;*/
}

.nav-stacked li{
    background-color: rgb(255,255,255,0.7);
}

#toggle-menu{
    margin-top: 70px;
}
#categories.in,
#categories.collapsing {
    display: block!important;
}
.item{
    padding: 20px;
}
