.navbar-collapse span {
    display: inline-block;
    margin-right: 5px;
}
.navbar-collapse button a, .navbar-collapse button a:hover, .navbar-collapse button a:focus{
    color:white;
    text-decoration: none;
}
.navbar .container a{
    color:white;
}
body{
    background-color:#3d93af;
}
#categories, #item-feed{
    overflow: auto;
    background-color:#e1e5ed;
    padding:20px;
    margin-top:70px;
    
}